@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');


body{
    background-color: #F4F6F7;
}

*{
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
}

.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:6rem;
}  


.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
}

.project-card{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    width: 16rem;
    height: 10rem;
    transition: transform 2s;
}

.project-card:hover{
    transform: scale(1.3);
    z-index: 9;
}

.project-card img:hover{
    filter: blur(0px);
}

.project-card img{
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.project-card a{
    width: 100%;
    height: 100%;
}

.project-card h1{
    font-size: 25px;
    position:absolute;
    user-select: none;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.about{
    position: relative;
    margin-top: 1rem;
    animation: slidein-about 1s 1.2s forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin: 2rem;
}

.container p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  color: black;
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 12s infinite 2s;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.emoji{
    display: inline-block;
    animation: wave .5s infinite alternate;
}

@keyframes wave{
    0%{
        transform: rotate(-20deg);
    }

    25%{
        transform: rotate(-10deg);
    }

    50%{
        transform: rotate(10deg);
    }

    100%{
        transform: rotate(20deg);
    }
}



.about > h1{
    margin: 0;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.reveal{
    position: relative;
    opacity: 0;
    transition: 3s all ease;

  }
  .reveal.active{
    animation: slidein-project 1s forwards;
  }

  @keyframes slidein-project{
    0%{
        transform: translate(-1000px)
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}

.skills-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding-bottom:3rem ;
    box-shadow: 0 2px 2px #00000026;
    gap: 1rem;
    background-color: gainsboro;
}

.skills-container h1{
    align-self: flex-start;
    padding-left: 20px;
}

.skills-container img{
    width: 100px;
    height: 100px;
}

.skills-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.contact-container h1{
    align-self: flex-start;
}


.contact-container form{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
}

.contact-container form > input{
    width: 20rem;
    outline: none;
    background-color:rgba(224, 222, 222, 0.336);
    height: 2rem;
    border: none;
    border-radius: 5rem;
    border: 1px solid black;
    padding: .3rem;
}

.contact-container button{
    border: none;
    width: 20rem;
    padding: .7rem;
    border-radius: 5rem;
    background-color:cadetblue;
    font-size: 20px;
}

.contact-container button:hover{
    background-color: greenyellow;
    cursor: pointer;
}


.contact-container form > textarea{
    width: 20rem;
    outline: none;
    background-color:rgba(224, 222, 222, 0.336);
    height: 4rem;
    border-radius: .3rem;
    border: 1px solid black;
    padding: .3rem;
}



@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}


@keyframes slidein-about{
    0%{
        transform: translate(1000px);
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@media (max-width:800px){
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .about-container p{
        font-size: 20px;
        max-width: 100%;
    }

    .about-container img{
        width: 70%;
    }

    .project-card{
        width: auto;
    }

    .projects h1{
        font-size: 20px;
    }

    .projects{
        align-items: center;
    }

    .project-container{
        grid-template-rows: 1fr 1fr;
    }

    .project-card h1{
        font-size:10px ;
    }

    .skills-icons img{
        width: 50px;
    }

    .contact-container{
        align-items: center;
    }

    .container > p{
        font-size: 20px;
    }

    .animation > div > div{
        font-size: 20px;
    }
    
    .contact-container h1{
        align-self: center;
    }

    .contact-container form {
    align-items: center;
}
}